<form action="/input_words" method="post">
  <p>Let's find some anagrams'</p>
  <p>Enter two words : </p>
  <input type="text" name="wordone">
  <input type="text" name="wordtwo">
  <input type="submit">
</form>
